<header>
  <div class="menu">
    <a
      id="hamburger"
      (click)="handleMenuToogle()"
      [class.open]="isOpenMenu"
    >
      <span></span>
      <span></span>
      <span></span>
      <span></span>
    </a>
    <p class="name">{{name}}</p>
  </div>
  <div class="actionBtn" *ngIf="showActionBtn">
    <p class="hint">Сохрани выбранные предметы  на&nbsp;программу следующего семестра</p>
    <button
      mat-raised-button
      (click)="handleActionBtnClick()"
    >
      <img src="assets/img/arrow.svg" alt="" class="arrow">
      Сохранить программу
    </button>
  </div>
</header>
