<p>Test it!</p>
<button mat-raised-button color="primary" (click)="handleStatusOn()">Status = true</button>
<button mat-raised-button color="warn" (click)="handleStatusOff()" style="margin-left: 10px;">Status = false</button>
<p>
  Status: {{status}}
</p>
<button mat-raised-button color="primary" (click)="handleConsoleLog()">console.log(status)</button>


<p>sa</p>
<button mat-raised-button color="primary" (click)="getItem()">get</button>
<button mat-raised-button color="primary" (click)="setItem()">set</button>
